<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>House Attendance</title>
</head>

<body>
  <div class="container py-3 wrapper" id="app">

    <div v-if="members.length == 0" class="loader">
      <img class="block" src="img/tenor.gif" alt="Loading..." />
    </div>

    <header class="row pt-3">
      <div class="col-sm-4 text-center align-self-center">
        <a class="" href="#"><img class="imgLogo img-fluid" src="img/27750690_796277473909261_1454095537477120106_n.png"
            alt=""></a>
      </div>
      <div class="col-sm-8">
        <div class="row h-75 align-items-center">
          <h1 class="w-100 text-center">Transparent Government in Fact</h1>
        </div>
        <div class="row h-25 justify-content-end">
          <a class="align-self-end pr-3 text-dark" href="mailto:dmolcap&#64;gmail.com">Contact: info&#64;tgif.net <i
              class="fas fa-envelope-square"></i></a>
        </div>
      </div>
    </header>

    <div class="row pt-3">
      <nav class="col-sm-12 navbar">
        <ul class="nav border w-100">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Congress 113</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="senate-page.html">Senate</a>
              <a class="dropdown-item" href="house-page.html">House</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Attendance</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="senate-attendance.html">Senate</a>
              <a class="dropdown-item active" href="#">House</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Party Loyalty</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="senate-party-loyalty.html">Senate</a>
              <a class="dropdown-item" href="house-party-loyalty.html">House</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>

    <!--Table container-->
    <div class="row">
      <div class="col-md-12">
        <div class="card text-center">
          <div class="card-header senatorsCardHeader">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link inactive" href="senate-attendance.html">Senate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">House</a>
              </li>
            </ul>
          </div>
          <div class="row">
            <div class="col-md-6 card-body">
              <h2 class="card-title text-left font-weight-bold senatorsText">Attendance</h2>
              <p class="card-text text-justify m-0 senatorsText">The Constitution specifies that a majority of members
                constitutes a quorum to do business in each house. Representatives and senators rarely force the
                presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority
                is not present.</p>
              <p class="text-justify m-0 senatorsText">The Senate uses roll-call votes; a clerk calls out the names of
                all the senators, each senator stating "aye" or "no" when his or her name is announced. The House
                reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes
                quite some time; normally, members vote by electronic device. In the case of a tie, the motion in
                question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.
              </p>
            </div>
            <div class="col-md-6 card-body align-self-center">
              <h2 class="card-title text-left font-weight-bold senatorsText">House at a glance</h2>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Party</th>
                    <th>No. of Reps</th>
                    <th>% of Voted w/ Party</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Democrats</th>
                    <td>{{ democrats.length }}</td>
                    <td>{{ demTotalVotes }}</td>
                  </tr>
                  <tr>
                    <th>Republicans</th>
                    <td>{{ republicans.length }}</td>
                    <td>{{ repTotalVotes }}</td>
                  </tr>
                  <tr>
                    <th>Independents</th>
                    <td>{{ independents.length }}</td>
                    <td>{{ indTotalVotes }}</td>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <td>{{ democrats.length + republicans.length + independents.length }}</td>
                    <td>{{ totalVotes }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 card-body">
              <h2 class="card-title text-left font-weight-bold senatorsText">Least Engaged (Bottom 10% Attendance)</h2>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Congressman</th>
                    <th>No. of Missed Votes</th>
                    <th>% Missed</th>
                  </tr>
                </thead>
                <tbody v-for="member in leastEngaged">
                  <td><a class="text-dark" v-bind:href="member.url" target="_blank">{{ member.first_name }}
                      {{ member.middle_name }}
                      {{ member.last_name }}</a></td>
                  <td>{{ member.missed_votes }}</td>
                  <td>{{ member.missed_votes_pct }}</td>
                </tbody>
              </table>
            </div>
            <div class="col-md-6 card-body">
              <h2 class="card-title text-left font-weight-bold senatorsText">Most Engaged (Top 10% Attendance)</h2>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Congressman</th>
                    <th>No. of Missed Votes</th>
                    <th>% Missed</th>
                  </tr>
                </thead>
                <tbody v-for="member in mostEngaged">
                  <td><a class="text-dark" v-bind:href="member.url" target="_blank">{{ member.first_name }}
                      {{ member.middle_name }}
                      {{ member.last_name }}</a></td>
                  <td>{{ member.missed_votes }}</td>
                  <td>{{ member.missed_votes_pct }}</td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="row pt-3">
      <div class="col-12 text-center text-muted py-3 my-3 border">
        <p class="m-0">&copy; 2019 TGIF | All Rights Reserved</p>
      </div>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="main.js"></script>

  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>